*.lock
target
prototypes/lyx-rust/upstream
*.otf
/node_modules/
/web/core.wasm
/web/editor.bundle.js
/workspace/
!/Cargo.lock
!/native-adapter/Cargo.lock
!/web/fonts/*.otf
/extensions/vscode/media/
/extensions/vscode/bin/
/extensions/vscode/LICENSE
/extensions/vscode/TYPST-NOTICE
/dist/
__pycache__/
*.pyc
